.NavbarSuper {
    z-index: 1000;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: -5px;
    /* border: 2px solid rgb(123, 255, 0); */
}

.LogoLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
}

.LogoLeft img {
    display: flex;
    width: 80%;
    margin-top: 20px;
    margin-left: 300%;
}

.SpaceRight {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 10%;
    height: 100%;
    margin-top: 0px;
    right: 1px;
    /* border: 2px solid rgb(255, 0, 0); */
}

.SpaceRight img {
    display: flex;
    width: 50%;
    margin-top: -20px;
    animation: Meatfloat 3s ease-in-out infinite;
}

.Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid rgb(0, 38, 255); */
}

.BarMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
}

.BarMenu img {
    display: flex;
    width: 100%;
    margin-top: -0.5%;
    cursor: pointer;
}

.BarMenuIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    margin-top: -5.20%;
    /* border: 2px solid rgb(0, 255, 76); */
}

.BarMenuIcons p {
    color: white;
    text-decoration: none;
}

.BarMenuIcons img {
    display: flex;
    width: 100%;
    animation: Meatfloat 2s ease-in-out infinite;
}


@keyframes Meatfloat {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-2%) rotate(3deg);
    }
    100% {
      transform: translateY(0%) rotate(0deg);
    }
  }

  @media screen and (max-width: 1024px) {
    .BarMenu {
        width: 70%;
    }
    .BarMenu img {
        margin-top: 0%;
    }
    .BarMenuIcons {
        width: 87%;
        margin-top: -6.10%;
    }
  }

  @media screen and (max-width: 768px) {
    .LogoLeft {
        width: 1%;
    }
    .LogoLeft img {
        width: 1000%;
        margin-left: 1000%;
    }
    .SpaceRight img {
        width: 80%;
        margin-top: -10px;
    }
    .BarMenu {
        width: 70%;
    }
    .BarMenu img {
        margin-top: 0%;
    }
    .BarMenuIcons {
        width: 87%;
        margin-top: -6.10%;
    }
  }

  @media screen and (max-width: 425px) {
    .SpaceRight {
        display: none;
    }
    .LogoLeft {
        display: none;
    }
    .BarMenu {
        width: 90%;
    }
    .BarMenu img {
        margin-top: 0%;
    }
    .BarMenuIcons {
        width: 80%;
        margin-top: -7.20%;
    }
  }